.mouse {
    display: inline-block;
    width: 20px;
    height: 30px;
    border: 2px solid #fff;
    border-radius: 80px;
    position: relative;
}

.mouse::before {
    content: "";
    display: inline-block;
    width: 3px;
    height: 6px;
    background-color: #fff;
    border-radius: 2px;
    position: absolute;
    top: 4px;
    left: 50%;
    transform: translateX(-50%);
    animation-name: scroll;
    animation-iteration-count: infinite;
    animation-duration: 1.3s;
    animation-timing-function: linear;
}

@keyframes scroll {
    0% {
        top: 4px;
        opacity: 1;
    }
    50% {
        opacity: 1;
    }

    100% {
        top: 15px;
        opacity: 0;
    }
}
